.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: #F1F1F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 15px 180px;
}

.button-sign-in {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #006A50;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.button-sign-in:hover {
    transform: scale(1.05);
    background-color: #C6E4D6;
}

.sign-in {
    color: #006A50;
    text-decoration: none;
}

section {
    padding: 50px 50px;
    margin: 15px 160px;
}

p{
    color: rgba(14,14,14,0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hero {
    background-color: #C6E4D6;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;

}

.hero-bd {
    color: rgba(14,14,14,0.50);
    font-size: 24px;
}

.hero-title {
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 700;
    margin-top: -15px;
    margin-bottom: 15px;
}

.button {
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.button:hover {
    background-color: #005740;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: #FFFFFF
}

.heading {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

.pillars {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
}



.card-pillars {
    display: flex;
    width: 302px;
    height: 250px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid rgba(14,14,14,0.15);
    background-color: #FFFFFF;
}

.card-pillars:hover {
    transform: scale(1.05);
    background-color: #C6E4D6;
}

.quote {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: none;
    padding: 24px;
    background-color: #FFFFFF;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-position: 20px 20px;
    font-size: 16px;
}

.quote:hover {
    transform: scale(1.05);
    background-color: #C6E4D6;
}

.yunus {
    margin-bottom: -10px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.80);
    font-size: 20px;
}

.future {
    display: flex;
    gap: 24px;
}

.card-future {
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 16px;
    border: none;
    width: 410px;
}

.card-future:hover {
    transform: scale(1.05);
}

.button-internal {
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
}

.button-internal:hover {
    transform: scale(1.05);
}

.news-container {
   display: flex;
   flex-direction: column;
}

.news {
    display: flex;
    padding: 48px;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background-color: #FFFFFF;
    margin: 24px 0px;
}

.news:hover {
    background-color: #C6E4D6;
    transform: scale(1.05);
}

.news-img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
    object-fit: cover;
}

.news-heading {
    color: rgba(14, 14, 14, 0.80);
    font-size: 32px;
    font-weight: 700;
}

.news-button {
    display: flex;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    gap: 48px;
}

.news-button:hover {
    transform: scale(1.05);
    background-color: #0E0E0E;
}

.donation-heading {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: block;
}

.donation-para {
    text-align: center;
}

.selection-card {
    display: flex;
    justify-content: space-around;
}

.selection {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14,14,14,0.15);
    background-color: #FFFFFF;
    width: 240px;
    text-align: center;
    font-size: 20px;
}

.selection:hover {
    transform: scale(1.05);
    background-color: #C6E4D6;
}

input {
    display: flex;
    width: 1250px;
    padding: 20px 40px;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid rgba(14,14,14,0.15);
    border: 0;
    background: #FFFFFF;
    text-align: center;
    font-size: 20px;
    color: rgba(14,14,14,0.30);
}

.donation-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.donation-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: #C6E4D6;
    text-align: center;
    padding: 50px 24px;
}

.subscription-form {
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subscription-form input {
    display: flex;
    width: 600px;
    padding: 18px 40px;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    border-radius: 8px 0px 0px 8px;
    background-color: #FFFFFF;
    text-align: left;
}

.subscription-form button {
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 0px 8px 8px 0px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.footer {
    background-color: #FFFFFF;
    padding: 24px;
}

.footer-heading {
    text-align: center;
    border: 0px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d5d5d5;
}

.social {
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-icon {
    padding: 15px;
    width: 25
px;
}